<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>Document</title>
</head>
<body>
    <div id="wrapper">
	<div id="header">
		<div id="menu">
			{% if user.login %}
				<a href="/" {% if page == 'index' %} class="active" {% endif %}>Главная</a>
				<a href="/users" {% if page == 'users' %} class="active" {% endif %}>Пользователи</a>
				<a href="/logout" {% if page == 'logout' %} class="active" {% endif %}>Выйти</a>
			{% else %}
				<a href="/add_user" {% if page == 'register' %} class="active" {% endif %}>Регистрация</a>
				<a href="/login" {% if page == 'login' %} class="active" {% endif %}>Войти</a>
			{% endif %}
			
		</div>
	</div>
	<div id="content">
        <div class="e">{% block content%}{% endblock content %}</div>
    </div>
	<div id="footer">
		
	</div>
</div>
</body>
</html>